.awesomePlayer {
    background-color:#333333;
    width:300px;
    padding-left:10px;
    padding-top:1px;
    padding-bottom:10px;
    border-radius:10px;
    margin-bottom:5px;
    margin-top:5px;
}

.awesomePlayer button {
    -moz-box-shadow:inset 0px 1px 0px 0px #fab3ad;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fab3ad;
    box-shadow:inset 0px 1px 0px 0px #fab3ad;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa665a), color-stop(1, #d34639) );
    background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
    background-color:#fa665a;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d83526;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:2px 10px;
    text-decoration:none;
    text-shadow:1px 1px 0px #98231a;
    width:40px;
}.awesomePlayer button:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d34639), color-stop(1, #fa665a) );
     background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
     background-color:#d34639;
 }.awesomePlayer button:active {
      position:relative;
      top:1px;
  }
  .awesomePlayer p {
      color:white;
      font-weight:bold;
      display: table-cell;
  }
  .awesomePlayer input[type=range] {
      width:100px;
      display:block;
      position:relative;

  }
  .awesomePlayer ol {
      color:white;
      list-style-type: none;
      cursor:pointer;

      margin: 0;
      padding: 0;

  }
  .awesomePlayer li.odd {

      background-color:#222222;
  }

.awesomePlayer li.nowPlaying {
    color:black;
    background-color:#999999;
}
.awesomePlayer li:hover {
    background-color:white;
    color:black;
}